<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list"><li><a class="u-email" href="mailto:janicolasnavarro@protonmail.com">janicolasnavarro@protonmail.com</a></li><li><p class="rss-subscribe">subscribe <a href="/data-revolution/feed.xml">via RSS</a></p></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
        <p>{{- site.description | escape -}}</p>
      </div>

      <div class="footer-col footer-col-4">
        <p class="privacy-policy"><a href="/data-revolution/privacy-policy">Privacy policy</a></p>
      </div>

      <div class="footer-col footer-col-5">
        <p>{{- site.pages. | escape -}}</p>
      </div>
    </div>

  </div>

</footer>
